@import "tailwindcss";
@custom-variant dark (&:where(.theme-dark, .theme-dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #F5E6C4; 
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #2A261D; 
}

::-webkit-scrollbar-thumb:hover {
  background: #FACC15;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #D4AF37;
}